.header {
    display: flex;
    justify-content: space-between;

    .title {
        margin-left: 1rem;
    }

    .user-section {
        display: flex;
        flex-wrap: nowrap;
        &__logged-user {
            padding-top: .5rem;
        }
    }
}